# database' password
DB_ELAMA_QUIZ_PASSWORD=
# database' username
DB_ELAMA_QUIZ_USERNAME=
# Telegram bot's name
BOT_NAME=
# Telegram bot's token
BOT_TOKEN=
# jdbc:postgresql://{host:port to database}/{base name}
SPRING_DATASOURCE_URL=